<a href="https://colab.research.google.com/github/Dhruvin3103/ML/blob/main/RandomForestClassifer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [230]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [231]:
df = sns.load_dataset("penguins")
df.head(4)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN

In [232]:
df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
dtype: int64

In [233]:
df.dropna(inplace=True)

In [234]:
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [235]:
df["species"].nunique()

3

In [236]:
df['sex'].nunique()

2

In [237]:
island = pd.get_dummies(data=df["island"],drop_first=True)
df = pd.concat([df,island],axis =1)
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Dream,Torgersen
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,1

In [238]:
sex = pd.get_dummies(data=df["sex"],drop_first=True)
df = pd.concat([df,sex],axis =1)
df.head(2)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,Dream,Torgersen,Male
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,0,1,1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,0,1,0

In [239]:
df.drop(['sex','island'],axis=1,inplace=True)
df.head(2)

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Male
0,Adelie,39.1,18.7,181.0,3750.0,0,1,1
1,Adelie,39.5,17.4,186.0,3800.0,0,1,0

In [240]:
Y = df["species"]
Y.unique()
Y = Y.map({'Adelie':0,'Gentoo':1,'Chinstrap':2})
Y.head(2)

0    0
1    0
Name: species, dtype: int64

In [241]:
df.drop("species",axis=1,inplace=True)
df.head(2)

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Male
0,39.1,18.7,181.0,3750.0,0,1,1
1,39.5,17.4,186.0,3800.0,0,1,0

In [242]:
X = df
X.head(2)

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Male
0,39.1,18.7,181.0,3750.0,0,1,1
1,39.5,17.4,186.0,3800.0,0,1,0

In [243]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.3,random_state=42)
X_train.head(2)

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,Dream,Torgersen,Male
27,40.5,17.9,187.0,3200.0,0,0,0
292,48.2,15.6,221.0,5100.0,0,0,1

In [244]:
from sklearn.ensemble import RandomForestClassifier
RF = RandomForestClassifier()
RF.fit(X_train,Y_train)

RandomForestClassifier()

In [245]:
RF.score(X_test,Y_test)

0.98