<a href="https://colab.research.google.com/github/Dhruvin3103/ML/blob/main/Decision_Tree/DecisionTreeRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [13]:
from sklearn.datasets import fetch_california_housing
h = fetch_california_housing()

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

A household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surprisingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [14]:
dir(h)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [15]:
X = pd.DataFrame(data=h.data,columns=h.feature_names)
X.head(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [16]:
Y = pd.DataFrame(data=h.target,columns=h.target_names)
Y.head(5)

   MedHouseVal
0        4.526
1        3.585
2        3.521
3        3.413
4        3.422

In [18]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.7,random_state=0)
X_train.head(5)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
8741,4.4271,25.0,5.082515,1.005894,1219.0,2.394892,33.82,-118.32
1038,3.3393,15.0,5.777778,1.083333,529.0,2.449074,38.50,-120.93
13476,4.3958,10.0,6.154506,1.013948,3528.0,3.785408,34.09,-117.39
14118,3.8864,27.0,5.163399,1.024510,1628.0,2.660131,32.73,-117.11
9104,4.0945,13.0,5.733198,1.089613,1492.0,3.038697,34.53,-117.98

In [22]:
from sklearn.tree import DecisionTreeRegressor,plot_tree
dreg = DecisionTreeRegressor()
dreg.fit(X_train,Y_train)

DecisionTreeRegressor()

In [44]:
from sklearn.metrics import r2_score
y_pred=dreg.predict(X_test)
r2_score(y_pred,Y_test)

0.5565023119024775

In [29]:
parameter={
 'criterion':['squared_error','friedman_mse','absolute_error','poisson'],
  'splitter':['best','random'],
  'max_depth':[1,2,3,4,5,6,7,8,9,10,11,12],
  'max_features':['auto', 'sqrt', 'log2']  
}

In [36]:
from sklearn.model_selection import GridSearchCV
treemodel=DecisionTreeRegressor()
cv=GridSearchCV(treemodel,param_grid=parameter,cv=5,scoring='neg_mean_squared_error')

In [ ]:
cv.fit(X_train,Y_train)

In [38]:
cv.best_params_

{'criterion': 'poisson',
 'max_depth': 8,
 'max_features': 'auto',
 'splitter': 'best'}

In [45]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.metrics import r2_score
y_pred=cv.predict(X_test)
r2_score(y_pred,Y_test)

0.5667684417340373